

<!DOCTYPE html>
<html>

	<head>
		<style>
		body {
    		background-color: ;
		}
        
		h1 {
    		color: black;
            font-size: 30px;
		}
        
        h2 {
    		color: black;
            font-size: 25px;
		} 
                
		</style>
                   
	</head>


    <body>

    <h1>User Input</h1>
    <h2>Please enter a stock ticker eg. Facebook, and check desired features.</h2>

    <form action="/action_page.php" method="get">
      Ticker symbol: <input type="text" name="name"><br>
      <p>
      <input type="checkbox" name="type" value="Closing price"> Closing price<br>
      <input type="checkbox" name="type" value="Adjusted closing price"> Adjusted closing price<br>
      <input type="checkbox" name="type" value="Opening price"> Opening price<br>
      <input type="checkbox" name="type" value="Adjusted opening price"> Adjusted opening price<br> 
      <p>
      <input type="submit" value="Submit">
    </form>

        
        
        
    </body>

</html>


