<!DOCTYPE html>
<html>

	<head>
		<style>
		body {
    		background-color: ;
		}
        
		h1 {
    		color: black;
            font-size: 30px;
		}
        
        h2 {
    		color: black;
            font-size: 25px;
		} 
                
		</style>
                   
	</head>


    <body>

    <h1>User Input</h1>
    <h2>Please enter a stock ticker eg. Facebook, and check desired features.</h2>

    <form action="input" method="POST">
      Ticker symbol: <input type="text" id="name" name="name"> <br>
      <p>
      <input type="checkbox" id="cp" name="cp" value="on"> Closing price<br>
      <input type="checkbox" id="acp" name="acp" value="on"> Adjusted closing price<br>
      <input type="checkbox" id="op" name="op" value="on"> Opening price<br>
      <input type="checkbox" id="aop" name="aop" value="on"> Adjusted opening price<br> 
      <p><input type = "submit" value = "submit" /></p>
    </form>
       
    </body>

</html>



